<% content_for :title, "Editing Tip Calculation" %>

<div class="container mt-4">
  <h1 class="mb-4">Editing Tip Calculation</h1>

  <%= render "form", tip_calculation: @tip_calculation %>

  <div class="mt-4">
    <%= link_to "View Tip Calculation", @tip_calculation, class: "btn btn-secondary" %>
    <%= link_to "Back to Tip Calculations", tip_calculations_path, class: "btn btn-primary" %>
  </div>
</div>
