<div class="container mt-4">
  <% content_for :title, "New Tip Calculation" %>

  <h1 class="mb-4">New Tip Calculation</h1>

  <%= render "form", tip_calculation: @tip_calculation %>

  <div class="mt-4">
    <%= link_to "Back to Tip Calculations", tip_calculations_path, class: "btn btn-secondary" %>
  </div>
</div>
