<footer class="bg-dark text-white navbar-dark text-center text-lg-start">
    <div class="text-center p-3">
        © 2024 Designed by:
        <%= link_to "Dominic", "https://www.ematembu.com", class:"text-white" %>
    </div>
</footer>
